:root {  /* elemento root -> funciona como variáveis */
    --roxo: #791E94;
    --roxo2: #D5B0E0;
    --roxo3:  rgba(121, 30, 148, 0.3);
    --roxo4: #CC80E2;
    --verde1: #41D3BD;
    --verde2: #1C9D8A;
    --verde3: #4A9287;
}

* {
    margin: 0; /* espaçamento externo entre um elemento e outro */
    padding: 0; /* preenchimento interno do elemento */
    box-sizing: border-box; /* medida da caixa a partir da borda */
}

body {
    background-color: var(--roxo4);
}

html {
    font-family: poppins;
}

/* HEADER =========================*/

header {
    width: 100%;
    height: 100px;
    background-color: var(--roxo);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 15%; 
}

.client-bar {
    display: flex;
    margin-left: -20%;
}

.client-bar a {
    padding: 30px;
    text-decoration: none;
}

.client-bar a h3:hover {
    opacity: .5;
}

.client-bar a h3:active {
    border-bottom: 1px solid #ffffff;
}

.client-bar a h3 {
    font-family: Poppins;
    font-weight: 200;
    font-size: 15px;
    color: #FFFFFF;
}

.contact {
    margin-right: 130px;
}

.contact button {
    width: 193px;
    height: 27px;
    background: var(--verde1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.contact button:hover {
    background: var(--verde2);
}

.contact button a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
}

.curva {
    margin: auto 0;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 0 0 100% 100%;
    background-color: #D5B0E0;
}

.curva .text {
    color: #fff;
}

.curva .text h1 {
    margin: 20px;
}

.curva .text h3 {
    margin: 20px;
}

.curva .text p {
    width: 30%;
    font-weight: 200;
    text-align: center;
}

.colab{
    background: var(--roxo4);
}

.colab .textI h2 {
    color: var(--roxo);
}

.colaboradores {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colaboradores .foto {
    margin: 40px;
}

.colaboradores .foto h3,
.colabMen .foto h3 {
    color: #fff;
}

.colaboradores .foto p,
.colabMen .foto p {
    color: var(--roxo);
}

.colaboradores img,
.colabMen img {
    margin-bottom: 20px;
}


.colabMen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colabMen .foto {
    margin: 50px;
}

.foto {
    margin-left: 2rem;
}

/*text*=============================*/
.text span {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: auto;
   
    
}
.text span h1{
    padding-top: 30px;
    
}
.text span h2{
    padding:20px;
}
.textI h2{
    text-align: center;
    padding: 50px;
    padding-bottom: 40px;
   
    
}

/* FOOTER =============================*/

footer {
    height: 30rem;
    background: rgb(121,30,148);
    background: linear-gradient(0deg, rgba(121,30,148,1) 0%, rgba(80,14,99,1) 100%);
}

footer .section1 {
    display: flex;
    justify-content:center;
    color: #ffffff;
    
}

footer .section1 .foot-bar {
    padding: 5rem;
}

footer .section1 .foot-bar h3 {
    margin-bottom: 1.5rem;
}

footer .section1 .foot-bar p,
footer .section1 .foot-bar a {
    text-decoration: none;
    color: #ffffff;
    line-height: 35px;
}

footer .section1 .foot-bar a:hover {
    opacity: .7;
}

footer .logo2 {
    text-align: center;
}


