:root {
    /* elemento root -> funciona como variáveis */
    --roxo: #791E94;
    --roxo2: #D5B0E0;
    --roxo3: rgba(121, 30, 148, 0.3);
    --roxo4: #CC80E2;
    --verde1: #41D3BD;
    --verde2: #1C9D8A;
    --verde3: #4A9287;
}

* {
    margin: 0;
    /* espaçamento externo entre um elemento e outro */
    padding: 0;
    /* preenchimento interno do elemento */
    box-sizing: border-box;
    /* medida da caixa a partir da borda */
}

html {
    font-family: poppins;
    background-color: #791E94;
}


/* HEADER =========================*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: var(--roxo);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 15%;
}

.client-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
}

.client-bar a {
    padding: 30px;
    text-decoration: none;
}

.client-bar a h3:hover {
    opacity: .5;
}

.client-bar a h3:active {
    border-bottom: 1px solid #ffffff;
}

.client-bar a h3 {
    font-family: Poppins;
    font-weight: 200;
    font-size: 16px;
    color: #FFFFFF;
}

.contact {
    margin-right: 130px;
}

.contact button {
    width: 193px;
    height: 40px;
    background: var(--verde1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.contact button:hover {
    background: var(--verde2);
}

.contact button a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

main {
    margin-top: 100px;
}

.curva {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    border-radius: 0 0 85% 85%;
    background-color: #D5B0E0;
}

.curva .texto1 {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 2%;
}

.curva .texto1 h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto1 {
    text-align: center;
}

.texto1 h1 {
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto1 p {
    margin-top: 10px;
    font-size: 20px;
}

.texto2 {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--verde3);
    margin: 60px auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.texto2 h1 {
    width: 800px;
}

.marcasLinha1 {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

.marcasLinha1 img {
    width: 150px;
}

.marcasLinha2 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.marcasLinha2 img {
    width: 250px;
}

.setor1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.setor1 .subSetor {
    width: 220px;
    height: 256px;
    background: rgba(121, 30, 148, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 20px;
    font-size: 14px;
    padding: 40px;
    color: #ffffff;
}

.subSetor {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.subSetor p {
    color: #791E94;
    margin: 18px;
    font-size: 14px;
}


/*centro */

.centro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 24rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--roxo);
    color: #ffffff;
}

.centro .subcentro span h2 {
    display: flex;
    justify-content: center;
    width: 250px;
    line-height: 35px;
    margin-bottom: 1.0rem;
}

.centro .subcentro span p {
    width: 400px;
}

.outrocentro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 320px;
    background-color: var(--roxo2);
    color: #ffffff;
}

.comofunciona {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 800px;
    background-color: var(--roxo3);  
    color: white;  
}

.meio .image{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    margin-bottom: 80px;
    color: var(--verde1);
}

.image {
    margin-left: 30px;
    margin-right: 30px;
}

.meio h1,h2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.meio p {
    display: flex;
    align-content: center;
    color: white;
    margin-top: 20px;
}

.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.feedback {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--roxo4);
}

.feedback .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feedback .client-feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.feedback .client {
    background: var(--roxo2);
    width: 350px;
    margin: 30px;
    border-radius: 15px;
    padding: 40px;
}

.feedback .client .photo {
    display: flex;
    margin: 10px;
}

.feedback .client span {
    margin-left: 10px;
}

.feedback .client span h3 {
    margin: 3px;
    color: #ffffff;
}

.feedback .client span p {
    margin: 3px;
    color: var(--roxo);
}

.feedback .star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.feedback .coment {
    color: #ffffff;
    margin: 15px;
    text-align: center;
}


/* FOOTER =============================*/

footer {
    height: 30rem;
    background: rgb(121, 30, 148);
    background: linear-gradient(0deg, rgba(121, 30, 148, 1) 0%, rgba(80, 14, 99, 1) 100%);
}

footer .section1 {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
    color: #ffffff;
}

footer .section1 .foot-bar {
    padding: 2rem;
}

footer .section1 .foot-bar h3 {
    margin-bottom: 1.5rem;
}

footer .section1 .foot-bar p,
footer .section1 .foot-bar a {
    text-decoration: none;
    color: #ffffff;
    line-height: 35px;
}

footer .section1 .foot-bar a:hover {
    opacity: .7;
}

footer .logo2 {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .curva {
        border-radius: 0 0 55% 55%;
        height: 100%;
    }
    .centro {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .subimagem img {
        width: 70%;
    }
    .subcentro span h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .feedback .client-feedback {
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .feedback .titulo h3 {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .comofunciona {
        height: 100%;
    }
    .meio .image {
        display: flex;
        flex-direction: column;
    }
}